version: "3.6"

services:

  # Postgres Database
  database:
    image: postgres:12.3-alpine
    env_file:
      - .env.dev
    expose:
      # Deixar a porta exposta para desenvolvimento
      # isto permite acessar o banco de dados a partir de outros apps como o DBeaver
      - 5432
    volumes:
      - ./pg_data:/var/lib/postgresql/data

  # Backend Django
  backend:
    build: ./backend
    volumes:
      # Directory of static file of Django
      - ./archive/static:/app/static
    env_file:
      - .env.dev
    depends_on:
      - database

  # Frontend React
  frontend:
    image: node:12.16.2
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: yarn start

  # Web Server Nginx with React Frontend
  nginx:
    image: nginx:latest
    ports:
      - 80:8080
    volumes:
      # Directory of static file of Django
      - ./archive/static:/var/www/django_static
      # Nginx configuration file
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend